<h2 mat-dialog-title>Gallery Form</h2>
<div class="brand-form-container">
  <div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
         role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
         aria-valuemin="0" aria-valuemax="100"
         [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
    <mat-progress-bar mode="determinate" value="{{progress.percentage}}"></mat-progress-bar>
  </div>
  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)">
  </label>
  <button mat-raised-button color="primary" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
</div>
<form [formGroup]="galleyForm" (ngSubmit)="onClickSave()">
  <mat-dialog-content class="mat-typography">
    <div class="brand-form-container">
      <input type="hidden" formControlName="itemId" id="itemId">
      <input type="hidden" formControlName="url" id="url">
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!galleyForm.valid">SAVE</button>
  </mat-dialog-actions>
</form>
